.rounded-square {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  background-color: #6f42c1;
  color: white;
  text-align: center;
  line-height: 50px;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
}
.container{
    /*display:flex;*/
    /*Inherits probably flex from body*/
    width: 100%;
}