.container {
  display: flex;
  justify-content: center;
  align-items:center;
  width:100%;
}

.glass-card {
  /* 1. Semi-transparent background */
  background: rgba(255,255,255 0.1);
  /* 2. The magic: backdrop blur */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For compatibility */
  /* 3. Subtle border */
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* 4. Soft shadow and rounded corners */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 15px;
  /* Add padding and center text for appearance */

  padding: 30px;
  color: white;
  text-align: center;
  display: inline-block;
  width: 150px;
  height: 150px;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
}
.glass-card-text {
  color: black; /* or black, depending on your design */
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* A soft dark shadow */
}
.rounded-square {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  background-color: #6f42c1;
  color: white;
  text-align: center;
  line-height: 50px;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
}

.door {
  background: rgba(255, 255, 255, 0.21);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.8px);
  -webkit-backdrop-filter: blur(1.8px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
